In [2]:
import gzip
from collections import defaultdict
import math
import scipy.optimize
import matplotlib.pyplot as plt
from sklearn import svm
import numpy as np
from sklearn import linear_model
import pandas as pd 
from ydata_profiling import ProfileReport

In [3]:
file_path = "C:/Users/jeyas/OneDrive/Documents/CSE158/HeartAttackPrediction/Datasets/diabetes_prediction_dataset.csv"
dataset = pd.read_csv(file_path)

In [4]:
dataset

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [5]:
dataset_encoded = pd.get_dummies(dataset, columns = ["smoking_history"])

In [6]:
dataTrain = dataset_encoded[:90000]
dataTest = dataset_encoded[90000:]

In [7]:
dataTrain

,gender,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,smoking_history_No Info,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
0,Female,80.0,0,1,25.19,6.6,140,0,False,False,False,False,True,False
1,Female,54.0,0,0,27.32,6.6,80,0,True,False,False,False,False,False
2,Male,28.0,0,0,27.32,5.7,158,0,False,False,False,False,True,False
3,Female,36.0,0,0,23.45,5.0,155,0,False,True,False,False,False,False
4,Male,76.0,1,1,20.14,4.8,155,0,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89995,Female,7.0,0,0,16.44,4.0,90,0,True,False,False,False,False,False
89996,Female,25.0,0,0,28.30,6.6,140,0,False,False,False,False,False,True
89997,Female,58.0,1,0,42.90,7.0,280,1,True,False,False,False,False,False
89998,Male,73.0,0,0,27.32,4.0,126,0,False,False,False,False,True,False
89999,Male,6.0,0,0,18.89,5.8,145,0,True,False,False,False,False,False

In [8]:
dataTrain.to_csv("diabetes_train.csv")
dataTest.to_csv("diabetes_test.csv")